body {background-color: white;}

.circular--square {
    border-radius: 50%;
  }

h1 {
    font-family: verdana;
    font-size: 200%;
    /* background-image: url('electronica.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 100% 100%; */}
h2 {color: black;}
p {color: rgb(10, 9, 63);}
c {color: rgb(255, 255, 255);}

* {box-sizing: border-box;}

.columna1 {
    background-color: white;
    float: left;
    width: 40%;
    padding: 20px;
  }
  
.columna2 {
    background-color: rgb(50, 73, 150);
    float: left;
    width: 60%;
    padding: 15px;
    margin-top: 7px;}
  
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .columna1, .columna2 {
      width: 100%;}}
